    <table align="center" cellpadding="0" cellspacing="0" width="1010">
        <tbody><tr>
        <td width="5" style="background-image:url('../../images/Left_Shadow.png');background-repeat:repeat-y;">
        </td>
        <td>
        <table width="1000" cellpadding="0" cellspacing="0">
        <tbody><tr>
            <td>
                
                <div>
                   


                    
              <img src="../../images/CMSLogo.png" width="1000" height="200" alt="">
          
                </div>
            </td>
            
        </tr>
        <tr>
        <td style="background-image:url('../../images/Top_Shadow.png');width:1000;height:4px;">
        
        </td>
        </tr>
        <tr>
            <td valign="top">
                <table cellpadding="0" cellspacing="0" width="1000">
                    <tbody><tr>
                        <td style="width: 245px; min-height: 500px; background-image:url('../../images/CMS-2-slice_21.png');" align="center" valign="top">
                            <div id="ctl00_MainMenu" style="display:table"><ul id="cm-nav" class="arrow-pad"><li><a href="/#/cms/dashboard">Dashboard</a></li><li><a href="/#/cms/jordan">Jordan</a></li><li><a href="/#/cms/jordanPlaces">Jordan Places</a></li><li><a href="/#/cms/destinations">Destinations</a></li><li><a href="#" class="arrow">Tours</a><ul class="arrow-pad"><li><a href="/#/cms/packages/city-breaks">City Breaks</a></li><ul></ul>
                            <li><a href="/#/cms/packages/jordan-tours">Jordan Tours</a></li><ul></ul><li><a href="/#/cms/packages/combined-tours">Combined Tours</a></li><ul></ul></ul></li><li><a href="/#/cms/packages/specialPromotions">Special Promotions</a></li><li><a href="/#/cms/agents">Agents</a></li><li><a href="/#/cms/pageContent">Page Content</a></li><li><a href="/#/cms/changePassword">Change Password</a></li><li><a href="#">links</a></li><li><a href="/#/cms/logout"> Logout </a></li></ul></div>
                            <div style="margin-top:20px;">
                            <img src="../../images/CMS-2-slice_23.png" width="227" height="122" alt="">
                            </div>
                        </td>
                        <td style="background-image:url('../../images/CMS-2-slice_11.png');width:5px;background-repeat:repeat-y;min-height:531px;">
                        
                        </td>
                        <td style="width: 745px; min-height: 480px; padding: 10px;" valign="top">
                            <div>
                            
<div style="margin-left: 200px;width:500px;">
        <span id="ctl00_ContentPlaceHolder1_lblPageName" style="font-family:tahoma;font-size:18pt;">Add Jordan Information</span>

   
            
            <div style="width: 740px; margin-bottom: 20px;">
                <div>

</div>
     </div>
            </div>
           <!--  table for our data  -->
    <table border="0" cellpadding="5" cellspacing="8">
       
    <tr>
        <th valign="top">Description:</th>
        <td align="left" class="paddBot11"><textarea  ui-tinymce="tinymceOptions" ng-model="tinymceModel"></textarea></td>
        <!-- <button ng-click="getContent()">Get content</button> -->
        <td></td>
    </tr>
    <tr>
    <th valign="top">Main Image:</th>
    <td>
    <input type="file" ngf-select ng-model="mainfile" 
    name="file" 
    ngf-pattern="'image/*'"
    accept="image/*" 
    ngf-max-size="0.3MB" 
    ng-change="submitMain()"
    />
    <img style="width:100px;" ng-show="!!mainfile" ngf-thumbnail="mainfile"/><br>
    <i ng-show="mainfile.$error.maxSize">File too large 
    {{mainfile.size / 1000000|number:1}}MB: max 20M</i>
    <p>{{progress}}</p>
</td> <td></td></tr>
<tr>
    <th valign="top">Map Image:</th>
    <td>
    <input type="file" ngf-select ng-model="mapfile" 
    name="file" 
    ngf-pattern="'image/*'"
    accept="image/*" 
    ngf-max-size="0.3MB" 
    ng-change="submitMap()"
    />
    <img style="width:100px;" ng-show="!!mapfile" ngf-thumbnail="mapfile"/><br>
    <i ng-show="mapfile.$error.maxSize">File too large 
    {{mapfile.size / 1000000|number:1}}MB: max 20M</i>
    <p>{{progress}}</p>
</td> <td></td></tr>

    
    <tr>
        <th>&nbsp;</th>
        <td valign="top">
            <button ng-click="addJordan()" >save</button>
        </td>
        <td></td>
    </tr>
    </table>

   <!-- end our table data  -->
                            </div>
                        </td>
                    </tr>
                </tbody></table>
            </td>
        </tr>
        <tr>
        <td style="background-image:url('../../images/Bottom_Shadow.png');width:1000px;height:5px;">
        
        </td>
        </tr>
        <tr>
            <td style="background-color: Gray;">
               <img src="../../images/CMS-2-slice_28.png" width="1000" height="75" alt="">
            </td>
        </tr>
        </tbody></table>
        </td>
        <td width="5" style="background-image:url('../../images/Right_Shadow.png');background-repeat:repeat-y;"></td>
        </tr>
    </tbody></table>
   
    

