

<div class="container">

	<!-- start logo -->
	<div>
	<img align="center" src="../../images/CMSLogo.png" width="1000" height="200"/>
	</div>
	<!-- end logo -->
	

	
	<!--  start loginbox ................................................................................. -->
	<div class="panel panel-primary" >
	
	<!--  start login-inner -->
	<div  class="panel-heading" > Welcome to Adviser Travel & Tourism Admin panel</div>
	<div class="panel-body">
		 <form class="form-horizontal">
    <div class="form-group">
      <label class="control-label col-sm-2" >Username :</label>
      <div class="col-sm-10 col-lg-4">
        <input type="text" class="form-control"  placeholder="Enter username" ng-model="username">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Password :</label>
      <div class="col-sm-10 col-lg-4">          
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" ng-model="password">
      </div>
    </div>
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary" ng-click="checkLogin()">Submit</button>
      </div>
    </div>
  </form>
	</div>
 	<div class="panel-footer"><center>Copyright © 2016 Adviser Travel & Tourism All Rights Reserved.</center></div>
	
 </div>
 <!--  end loginbox -->
</div>

