
    <table align="center" cellpadding="0" cellspacing="0" width="1010">
        <tbody><tr>
        <td width="5" style="background-image:url('../../images/Left_Shadow.png');background-repeat:repeat-y;">
        </td>
        <td>
        <table width="1000" cellpadding="0" cellspacing="0">
        <tbody><tr>
            <td>
                
                <div>
                    <script type="text/javascript">

</script>

                    
              <img src="../../images/CMSLogo.png" width="1000" height="200" alt="">
          
                </div>
            </td>
            
        </tr>
        <tr>
        <td style="background-image:url('../../images/Top_Shadow.png');width:1000;height:4px;">
        
        </td>
        </tr>
        <tr>
            <td valign="top">
                <table cellpadding="0" cellspacing="0" width="1000">
                    <tbody><tr>
                        <td style="width: 245px; min-height: 500px; background-image:url('../../images/CMS-2-slice_21.png');" align="center" valign="top">
                            <div id="ctl00_MainMenu" style="display:table"><ul id="cm-nav" class="arrow-pad"><li><a href="/#/cms/dashboard">Dashboard</a></li><li><a href="/#/cms/jordan">Jordan</a></li><li><a href="/#/cms/jordanPlaces">Jordan Places</a></li><li><a href="/#/cms/destinations">Destinations</a></li><li><a href="#" class="arrow">Tours</a><ul class="arrow-pad"><li><a href="/#/cms/packages/city-breaks">City Breaks</a></li><ul></ul>
                            <li><a href="/#/cms/packages/jordan-tours">Jordan Tours</a></li><ul></ul><li><a href="/#/cms/packages/combined-tours">Combined Tours</a></li><ul></ul></ul></li><li><a href="/#/cms/packages/specialPromotions">Special Promotions</a></li><li><a href="/#/cms/agents">Agents</a></li><li><a href="/#/cms/pageContent">Page Content</a></li><li><a href="/#/cms/changePassword">Change Password</a></li><li><a href="#">links</a></li><li><a href="/#/cms/logout"> Logout </a></li></ul></div>
                            <div style="margin-top:20px;">
                            <img src="../../images/CMS-2-slice_23.png" width="227" height="122" alt="">
                            </div>
                        </td>
                        <td style="background-image:url('../../images/CMS-2-slice_11.png');width:5px;background-repeat:repeat-y;min-height:531px;">
                        
                        </td>
                        <td style="width: 745px; min-height: 480px; padding: 10px;" valign="top">
                            <div>
                            
<div style="margin-left: 200px;width:500px;">
        <span id="ctl00_ContentPlaceHolder1_lblPageName" style="font-family:tahoma;font-size:18pt;">Packages</span>

    </div>
    <div style="margin:10px">
        
        <label>Package Name : </label><input type='text' ng-model='search' placeholder='filter' />
        
        <button class="btn btn-lg"><a href="/#/cms/addPackage"> Add Package</a></button>
    </div>
            
            <div style="width: 740px; margin-bottom: 20px;">
                <div>

</div>
            </div>
           <!--  table for our data  -->
            <table cellspacing="2" cellpadding="5" rules="all" border="1" id="ctl00_ContentPlaceHolder1_gvData" style="background-color:#DEBA84;border-color:#DEBA84;border-width:1px;border-style:None;width:730px;">
        <tbody><tr style="color:White;background-color:#A55129;font-weight:bold;">
            <th scope="col">Action</th><th scope="col">ID</th><th scope="col">Package Name</th><th scope="col">Destination</th><th scope="col">Outline</th><th scope="col">Status</th>
        </tr><tr ng-repeat="package in data | filter:search" style="color:#8C4510;background-color:#FFF7E7;" >
            <td><a href="/#/cms/packages/{{package.type}}/{{package._id}}"><input type="image" src="../../images/Edit.png" alt="Edit"  style="border-width:0px;"></a></td><td>{{package._id}}</td><td>{{package.packageName}}</td><td>{{package.destination}}</td><td>{{package.outline}}</td><td>Active</td>
        </tr>
        <tr align="center" style="color:#8C4510;">
            <td colspan="6"><table border="0">
                <tbody><tr>
                    <td><input type="image" src="../../images/GridForward.png" alt="Next" onclick="" style="border-width:0px;"></td><td><input type="image" src="../../images/GridLast.png" alt="Last Page" onclick="" style="border-width:0px;"></td>
                </tr>
            </tbody></table></td>
        </tr>
    </tbody></table>
        

   
                            </div>
                        </td>
                    </tr>
                </tbody></table>
            </td>
        </tr>
        <tr>
        <td style="background-image:url('../../images/Bottom_Shadow.png');width:1000px;height:5px;">
        
        </td>
        </tr>
        <tr>
            <td style="background-color: Gray;">
               <img src="../../images/CMS-2-slice_28.png" width="1000" height="75" alt="">
            </td>
        </tr>
        </tbody></table>
        </td>
        <td width="5" style="background-image:url('../../images/Right_Shadow.png');background-repeat:repeat-y;"></td>
        </tr>
    </tbody></table>
    

