
    <table  align="center" cellpadding="0" cellspacing="0" width="1010">
        <tbody><tr>
        <td width="5" style="background-image:url('../../images/Left_Shadow.png');background-repeat:repeat-y;">
        </td>
        <td>
        <table width="1000" cellpadding="0" cellspacing="0">
        <tbody><tr>
            <td>
                
                <div>
                    
              <img src="../../images/CMSLogo.png" width="1000" height="200" alt="">
          
                </div>
            </td>
            
        </tr>
        <tr>
        <td style="background-image:url('../../images/Top_Shadow.png');width:1000;height:4px;">
        
        </td>
        </tr>
        <tr>
            <td valign="top">
                <table cellpadding="0" cellspacing="0" width="1000">
                    <tbody><tr>
                        <td style="width: 245px; min-height: 500px; background-image:url('../../images/CMS-2-slice_21.png');" align="center" valign="top">
                            <div id="ctl00_MainMenu" style="display:table"><ul id="cm-nav" class="arrow-pad"><li><a href="/#/cms/dashboard">Dashboard</a></li><li><a href="/#/cms/jordan">Jordan</a></li><li><a href="/#/cms/jordanPlaces">Jordan Places</a></li><li><a href="/#/cms/destinations">Destinations</a></li><li><a href="#" class="arrow">Tours</a><ul class="arrow-pad"><li><a href="/#/cms/packages/city-breaks">City Breaks</a></li><ul></ul>
                            <li><a href="/#/cms/packages/jordan-tours">Jordan Tours</a></li><ul></ul><li><a href="/#/cms/packages/combined-tours">Combined Tours</a></li><ul></ul></ul></li><li><a href="/#/cms/packages/specialPromotions">Special Promotions</a></li><li><a href="/#/cms/agents">Agents</a></li><li><a href="/#/cms/pageContent">Page Content</a></li><li><a href="/#/cms/changePassword">Change Password</a></li><li><a href="#">links</a></li><li><a href="/#/cms/logout"> Logout </a></li></ul></div>
                            <div style="margin-top:20px;">
                            <img src="../../images/CMS-2-slice_23.png" width="227" height="122" alt="">
                            </div>
                        </td>
                        <td style="background-image:url('../../images/CMS-2-slice_11.png');width:5px;background-repeat:repeat-y;min-height:531px;">
                        
                        </td>
                        <td style="width: 745px; min-height: 480px; padding: 10px;" valign="top">
                            <div>
                            
<div style="margin-left: 200px;width:500px;">
        <span id="ctl00_ContentPlaceHolder1_lblPageName" style="font-family:tahoma;font-size:18pt;">Add Package</span>

   
            
            <div style="width: 740px; margin-bottom: 20px;">
                <div>

</div>
     </div>
            </div>
           <!--  table for our data  -->
    <table border="0" cellpadding="5" cellspacing="8">
        <tr>
            <th valign="top">Name*:</th>
            <td align="left" class="paddBot11">
            <input type="text" ng-model="packageName" class="form-control"/></td>
            <td></td>
        </tr>
       <!--  <tr>
            <th valign="top">Parent Destination:</th>
            <td align="left" class="paddBot11">
            <select ng-model="parentDestination">
                  <option>USA</option>
                  <option>Asia</option>
                  <option>Middle East</option>
                  <option>Europe</option>
            </select>
            </td>
            <td></td>
        </tr> -->
        <tr>
            <th valign="top">Destination*:</th>
            <td align="left" class="paddBot11">
            <select ng-model="destination">
                  <option ng-repeat="dest in destinations">{{dest.destinationName}}</option>
            </select>
            </td>
            <td></td>
        </tr>
        <tr>
            <th valign="top">Type*:</th>
            <td align="left" class="paddBot11">
            <select  ng-model="type">
                  <option>city-breaks</option>
                  <option>jordan-tours</option>
                  <option>combined-tours</option>
                  <option>specialPromotions</option>
            </select>
            </td>
            <td></td>
        </tr>
        <tr>
            <th valign="top">Duration:</th>
            <td align="left" class="paddBot11">
            days:<select  ng-model="days">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6</option>
                  <option>7</option>
                  <option>8</option>
                  <option>9</option>
                  <option>10</option>
                  <option>11</option>
                  <option>12</option>
                  <option>13</option>
                  <option>14</option>
                  <option>15</option>
                  <option>16</option>
                  <option>17</option>
                  <option>18</option>
                  <option>19</option>
                  <option>20</option>
                  <option>21</option><option>22</option><option>23</option><option>24</option><option>25</option><option>26</option><option>27</option><option>28</option><option>29</option><option>30</option><option>31</option><option>32</option><option>33</option><option>34</option><option>35</option><option>36</option><option>37</option><option>38</option><option>39</option><option>40</option><option>41</option><option>42</option><option>43</option><option>44</option><option>45</option><option>46</option><option>47</option><option>48</option><option>49</option><option>50</option>

            </select>
            nights:<select  ng-model="nights">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6</option>
                  <option>7</option>
                  <option>8</option>
                  <option>9</option>
                  <option>10</option>
                  <option>11</option>
                  <option>12</option>
                  <option>13</option>
                  <option>14</option>
                  <option>15</option>
                  <option>16</option>
                  <option>17</option>
                  <option>18</option>
                  <option>19</option>
                  <option>20</option>
                  <option>21</option><option>22</option><option>23</option><option>24</option><option>25</option><option>26</option><option>27</option><option>28</option><option>29</option><option>30</option><option>31</option><option>32</option><option>33</option><option>34</option><option>35</option><option>36</option><option>37</option><option>38</option><option>39</option><option>40</option><option>41</option><option>42</option><option>43</option><option>44</option><option>45</option><option>46</option><option>47</option><option>48</option><option>49</option><option>50</option>

            </select></td>
            <td></td>
        </tr>
        <tr>
            <th valign="top">Places:</th>
            <td align="left" class="paddBot11">
            <input type="text" class="form-control" ng-model="places"/></td>
            <td></td>
        </tr>
        <tr>
            <th valign="top">Price*:</th>
            <td align="left" class="paddBot11">
            <input type="number" class="form-control" ng-model="price"/></td>
            <td></td>
        </tr>
         <tr>
            <th valign="top">Child Discount*:</th>
            <td align="left" class="paddBot11">
            <input type="number"  ng-model="childrenPrice"/>%</td>
            <td></td>
        </tr>
        <tr>
            <th valign="top">Room Price:</th>
            <td align="left" class="paddBot11">
            <table class="table table-striped table-bordered">
                <thead>
                  <tr>
                     <th></th>
                    <th>tourist</th>
                    <th>bronze</th>
                    <th>silver</th>
                    <th>gold</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                  <td>SGL</td>
                    <td><input type="number" class="form-control" ng-model="sglthree"/></td>
                    <td><input type="number" class="form-control" ng-model="sglfour"/></td>
                    <td><input type="number" class="form-control" ng-model="sglfourb"/></td>
                    <td><input type="number" class="form-control" ng-model="sglfive"/></td>
                  </tr>
                  <tr>
                    <td>DBL</td>
                    <td><input type="number" class="form-control" ng-model="dblthree"/></td>
                    <td><input type="number" class="form-control" ng-model="dblfour"/></td>
                    <td><input type="number" class="form-control" ng-model="dblfourb"/></td>
                    <td><input type="number" class="form-control" ng-model="dblfive"/></td>
                  </tr>
                  <tr>
                    <td>TRBL</td>
                    <td><input type="number" class="form-control" ng-model="trblthree"/></td>
                    <td><input type="number" class="form-control" ng-model="trblfour"/></td>
                    <td><input type="number" class="form-control" ng-model="trblfourb"/></td>
                    <td><input type="number" class="form-control" ng-model="trblfive"/></td>
                  </tr>
                </tbody>
              </table></td>
            <td></td>
        </tr>
        <tr>
            <th valign="top">Start Date:</th>
            <td align="left" class="paddBot11">
           <md-datepicker 
               ng-model="startDate" 
               md-placeholder="Enter start date" ></md-datepicker>
            <label>End Date:</label><md-datepicker 
               ng-model="endDate" 
               md-placeholder="Enter end date"></md-datepicker>
            </td>
            <td></td>
        </tr>
        <tr>
        <th valign="top">Outline*:</th>
            <td align="left" class="paddBot11"><textarea class="form-control" rows="5" ng-model="outline"></textarea></td>
            <td></td>
       </tr>
       <tr>
        <th valign="top">Hotels:</th>
            <td align="left" class="paddBot11">
            3Star<textarea style="width:100px" rows="3" ng-model="three"></textarea>
            4Star<textarea style="width:100px" rows="3" ng-model="four"></textarea>
            5Star<textarea style="width:100px" rows="3" ng-model="five"></textarea></td>
            <td></td>
       </tr>
        <tr>
        <th valign="top">Include:</th>
            <td align="left" class="paddBot11"><textarea class="form-control" rows="5" ng-model="include" ui-tinymce="tinymceOptions"></textarea></td>
            <td></td>
       </tr>
       <tr>
        <th valign="top">Exclude:</th>
            <td align="left" class="paddBot11"><textarea class="form-control" rows="5" ng-model="exclude" ui-tinymce="tinymceOptions"></textarea></td>
            <td></td>
       </tr>
       
       <tr>
            <th valign="top">Itinerary:</th>
            <td align="left" class="paddBot11"><textarea  ui-tinymce="tinymceOptions" ng-model="itinerary"></textarea></td>
        <td></td>
      </tr>
    <tr>
        <th valign="top">Description:</th>
        <td align="left" class="paddBot11"><textarea  ui-tinymce="tinymceOptions" ng-model="tinymceModel"></textarea></td>
        <td></td>
    </tr>
    <tr>
    <th valign="top">Main Image*:</th>
    <td>
    <input id="mainPhoto" type="file" ngf-select ng-model="mainfile" 
    name="file" 
    ngf-pattern="'image/*'"
    accept="image/*" 
    ngf-max-size="0.3MB" 
    ng-change="submitMain()"
    />
  
    <img style="width:100px;" ng-show="!!mainfile" ngf-thumbnail="mainfile" id="mImage"/>
    <button ng-click="deleteMainPhoto()" id="removePhoto" class="btn btn-danger btn-xs">remove</button>
    <br>
    <i ng-show="mainfile.$error.maxSize">File too large 
    {{mainfile.size / 1000000|number:1}}MB: max 20M</i>
    <p>{{progress}}</p>
    
</td> <td></td></tr>

    <tr>
        <th>Images*:</th>
        <td valign="top">
    <div class="row" style="border-width:1px; border-style:solid; margin-bottom:10px; padding-top: 5px">
        <div ng-repeat="f in photos" style="font:smaller; float: left; margin-left:10px; margin-bottom: 30px; border-width:1px; border-style:dashed;" class="content">
          <img style="width:100px; height: 100px;" src="{{f}}" id="pacImage" alt="photo" />
          <button class="btn btn-xs btn-danger ff" style="position:absolute;margin-left:22px" ng-click="deletePhoto(f)" id="fi">remove</button>
      </div>
      <div style="font:smaller; float: left; margin-left:10px; margin-bottom: 30px; border-width:1px; border-style:dashed;" class="content">
      <img style="width:100px; height: 100px;" src="">
      <p>{{progress1}}</p>
      <button class="btn btn-xs btn-info" style="position:absolute;margin-left:22px"  id="photos" ngf-select="uploadFiles()" ng-model="files" ngf-multiple="true" accept="image/*">upload</button>

      </div>
        </div>
    
    <!-- <span class="progress" ng-show="progress1 >= 0">
        <div style="width:{{progress1}}%" ng-bind="progress1 + '%'"></div>
    </span> -->
        </td>
        <td></td>
    </tr>
    <tr>
        <th>&nbsp;</th>
        <td valign="top">
            <button ng-click="updatePackageInfo()">update</button>
            <button ng-click="deletePackage()">delete</button>
        </td>
        <td>
        </td>
    </tr>
    </table>

   <!-- end our table data  -->
                            </div>
                        </td>
                    </tr>
                </tbody></table>
            </td>
        </tr>
        <tr>
        <td style="background-image:url('../../images/Bottom_Shadow.png');width:1000px;height:5px;">
        
        </td>
        </tr>
        <tr>
            <td style="background-color: Gray;">
               <img src="../../images/CMS-2-slice_28.png" width="1000" height="75" alt="">
            </td>
        </tr>
        </tbody></table>
        </td>
        <td width="5" style="background-image:url('../../images/Right_Shadow.png');background-repeat:repeat-y;"></td>
        </tr>
    </tbody></table>
    

<!-- Modal -->
<div id="myModal1" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Alert</h4>
      </div>
      <div class="modal-body">
        <p>Please Enter Required Information For Package.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

